
  <div class="floating-form">
    <p>Distance (in nautical miles) Between Airports</p>
        <%= render "form", airport: @airports.first %>
    <div id="calculated-distance"></div>
  </div>

  <div id="canvas">
      <div id="map"></div>
  </div>
